.games-database-explorer{
    font-size: 1.2rem;
}

.games-database-explorer th {
    padding: .2rem .5rem;
}

.games-database-explorer td {
    padding: .2rem .5rem;
}

.games-database-explorer tbody tr:nth-of-type(odd) {
    background: #4b4b4b;
}

.games-database-explorer tbody tr:hover {
    background: #7c7c7c;
}

.games-database-explorer__results {
    text-align: right;
}

.games-database-explorer__line {
    font-size: 1rem;
}