.alert {
    z-index: 999;
}

.alert-info {
    background-color: #74b666;
    color: white;
}

.alert-error {
    background-color: #c85b53;
    color: white;
}

.note {
    margin: 1rem;
    border-radius: .5rem;
    background-color: #9ea1a6;
    color: #000000;
    padding: 1rem;
}