.bottom-menu {

}

.bottom-menu ul {
    margin: 0;
    padding: 0;
    display: table;
    list-style: none;
    width: 100%;
}

.bottom-menu li a {
    color: #b3b3b3;
    display: block;
    padding: 1rem 0;
}

.bottom-menu li {
    text-align: center;
    display: table-cell;
    color: #b3b3b3;
}