.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .2rem .4rem;
    font-size: .8rem;
    line-height: 1.5;
    color: #7b7b7b;
    border-radius: .2rem;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-success{
    color: #fff;
    background-color: #6dce69;
    border-color: #6dce69;
}

.btn-danger{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}