.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .2rem .4rem;
    font-size: 1.3rem;
    line-height: 1.5;
    color: #7b7b7b;
    border-radius: .2rem;
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn:focus {outline:0;}


.btn-success {
    color: #fff;
    background-color: #6dce69;
    border-color: #6dce69;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-link {
    font-weight: 400;
    color: #b3b3b3;
    background-color: transparent;
}

.btn-syzygy {
    border-radius: .5rem;
    padding: 0 .2rem;
    margin: .2rem 0 .2rem .3rem;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-panel {
    color: #fff;
    background-color: #2b2b2b;
    border: 0 none;
}

.btn-panel.is_active {
    background-color: #4a4a4a;
}