.c-green{
    color: #6dce69;
}

.c-white{
    color: white;
}

.c-mine-shaft{
    color: #2b2b2b;
}

.bg-mine-shaft1{
    background-color: #2b2b2b;
}

.bg-mine-shaft2{
    background-color: #222222;
}