.d-none {
    display: none
}

.d-b {
    display: block
}

.d-ib {
    display: inline-block
}

.d-i {
    display: inline
}

.d-f {
    display: -ms-flexbox;
    display: flex
}

.d-if {
    display: -ms-inline-flexbox;
    display: inline-flex
}

.d-t {
    display: table
}

.d-tc {
    display: table-cell
}

@media screen and (min-width: 992px) {
    .md-d-none {
        display: none
    }

    .md-d-b {
        display: block
    }

    .md-d-ib {
        display: inline-block
    }

    .md-d-i {
        display: inline
    }

    .md-d-f {
        display: -ms-flexbox;
        display: flex
    }

    .md-d-if {
        display: -ms-inline-flexbox;
        display: inline-flex
    }

    .md-d-t {
        display: table
    }

    .md-d-tc {
        display: table-cell
    }
}

@media screen and (min-width: 768px) {
    .sm-d-none {
        display: none
    }

    .sm-d-b {
        display: block
    }

    .sm-d-ib {
        display: inline-block
    }

    .sm-d-i {
        display: inline
    }

    .sm-d-f {
        display: -ms-flexbox;
        display: flex
    }

    .sm-d-if {
        display: -ms-inline-flexbox;
        display: inline-flex
    }

    .sm-d-t {
        display: table
    }

    .sm-d-tc {
        display: table-cell
    }
}

.f-none {
    float: none
}

.f-l {
    float: left
}

.f-r {
    float: right
}

@media screen and (min-width: 768px) {
    .sm-f-none {
        float: none
    }

    .sm-f-l {
        float: left
    }

    .sm-f-r {
        float: right
    }
}

@media screen and (min-width: 992px) {
    .md-f-none {
        float: none
    }

    .md-f-l {
        float: left
    }

    .md-f-r {
        float: right
    }
}

.pos-r {
    position: relative
}

.pos-a {
    position: absolute
}

.pos-f {
    position: fixed
}

.pos-s {
    position: static
}

.o-h {
    overflow: hidden
}

.o-v {
    overflow: visible
}

.oy-a {
    overflow-y: auto
}

.ox-a {
    overflow-x: auto
}

.oy-v {
    overflow-y: visible
}

.no-select {
    --webkit-user-select: none
}

.br-a {
    border-radius: .4rem
}

.br-a-50 {
    border-radius: 50%
}

.v-h {
    visibility: hidden
}

.v-v {
    visibility: visible
}

.op-0 {
    opacity: 0
}

.op-1 {
    opacity: 1
}

.fs-1 {
    font-size: 1.8rem
}

.fs-2 {
    font-size: 1.6rem
}

.fs-3 {
    font-size: 1.4rem
}

.fs-4 {
    font-size: 1.2rem
}

.fs-base {
    font-size: 1rem
}

.fs-5 {
    font-size: 0.9rem
}

.fs-6 {
    font-size: 0.8rem
}

.fs-sm {
    font-size: 0.7rem
}

.fs-xs {
    font-size: 0.6rem
}

@media screen and (min-width: 768px) {
    .sm-fs-1 {
        font-size: 3.6rem
    }

    .sm-fs-2 {
        font-size: 3.2rem
    }

    .sm-fs-3 {
        font-size: 2.4rem
    }

    .sm-fs-4 {
        font-size: 1.8rem
    }

    .sm-fs-base {
        font-size: 1.6rem
    }

    .sm-fs-5 {
        font-size: 1.5rem
    }

    .sm-fs-6 {
        font-size: 1.4rem
    }

    .sm-fs-sm {
        font-size: 1.2rem
    }

    .sm-fs-xs {
        font-size: 1rem
    }
}

@media screen and (min-width: 992px) {
    .md-fs-1 {
        font-size: 3.6rem
    }

    .md-fs-2 {
        font-size: 3.2rem
    }

    .md-fs-3 {
        font-size: 2.4rem
    }

    .md-fs-4 {
        font-size: 1.8rem
    }

    .md-fs-base {
        font-size: 1.6rem
    }

    .md-fs-5 {
        font-size: 1.5rem
    }

    .md-fs-6 {
        font-size: 1.4rem
    }

    .md-fs-sm {
        font-size: 1.2rem
    }

    .md-fs-xs {
        font-size: 1rem
    }
}

.fw-l {
    font-weight: 300
}

.fw-r {
    font-weight: 400
}

.fw-sb {
    font-weight: 600
}

.fw-b {
    font-weight: 700
}

.fst-i {
    font-style: italic
}

.fst-o {
    font-style: oblique
}

.lh-sm {
    line-height: 1.25
}

.lh-base {
    line-height: 1.5
}

.lh-lg {
    line-height: 1.75
}

.ta-l {
    text-align: left
}

.ta-c {
    text-align: center
}

.ta-r {
    text-align: right
}

.a-l {
    text-align: left
}

.a-c {
    text-align: center
}

.a-r {
    text-align: right
}

.tt-u {
    text-transform: uppercase
}

.tt-l {
    text-transform: lowercase
}

.tt-c {
    text-transform: capitalize
}

.va-t {
    vertical-align: top
}

.va-m {
    vertical-align: middle
}

.va-b {
    vertical-align: bottom
}

.va-bs {
    vertical-align: baseline
}

.wb-ba {
    word-break: break-all
}

.mw-max {
    max-width: 120rem
}

.mw-full {
    max-width: 100%
}

.z-0 {
    z-index: 0
}

.z-1 {
    z-index: 1
}

.z-2 {
    z-index: 2
}

.z-3 {
    z-index: 3
}

.z-4 {
    z-index: 4
}

.z-5 {
    z-index: 5
}

.z-22 {
    z-index: 22
}

.z-23 {
    z-index: 23
}

.z-1000 {
    z-index: 1000
}

.m-0 {
    margin: 0
}

.m-0-a {
    margin: 0 auto
}

.m-xs {
    margin: .6rem
}

.m-sm {
    margin: .8rem
}

.m-md {
    margin: 1rem
}

.m-lg {
    margin: 1.2rem
}

.m-xl {
    margin: 1.4rem
}

.m-xxl {
    margin: 2rem
}

.m-t-0 {
    margin-top: 0
}

.m-t-xs {
    margin-top: .6rem
}

.m-t-sm {
    margin-top: .8rem
}

.m-t-md {
    margin-top: 1rem
}

.m-t-lg {
    margin-top: 1.2rem
}

.m-t-xl {
    margin-top: 1.4rem
}

.m-t-xxl {
    margin-top: 2rem
}

.m-r-0 {
    margin-right: 0
}

.m-r-xs {
    margin-right: .6rem
}

.m-r-sm {
    margin-right: .8rem
}

.m-r-md {
    margin-right: 1rem
}

.m-r-lg {
    margin-right: 1.2rem
}

.m-r-xl {
    margin-right: 1.4rem
}

.m-r-xxl {
    margin-right: 2rem
}

.m-b-0 {
    margin-bottom: 0
}

.m-b-xs {
    margin-bottom: .6rem
}

.m-b-sm {
    margin-bottom: .8rem
}

.m-b-md {
    margin-bottom: 1rem
}

.m-b-lg {
    margin-bottom: 1.2rem
}

.m-b-xl {
    margin-bottom: 1.4rem
}

.m-b-xxl {
    margin-bottom: 2rem
}

.m-l-0 {
    margin-left: 0
}

.m-l-xs {
    margin-left: .6rem
}

.m-l-sm {
    margin-left: .8rem
}

.m-l-md {
    margin-left: 1rem
}

.m-l-lg {
    margin-left: 1.2rem
}

.m-l-xl {
    margin-left: 1.4rem
}

.m-l-xxl {
    margin-left: 2rem
}

@media screen and (min-width: 992px) {
    .md-m-0 {
        margin: 0
    }

    .md-m-xs {
        margin: .6rem
    }

    .md-m-sm {
        margin: .8rem
    }

    .md-m-md {
        margin: 1rem
    }

    .md-m-lg {
        margin: 1.2rem
    }

    .md-m-xl {
        margin: 1.4rem
    }

    .md-m-xxl {
        margin: 2rem
    }

    .md-m-t-0 {
        margin-top: 0
    }

    .md-m-t-xs {
        margin-top: .6rem
    }

    .md-m-t-sm {
        margin-top: .8rem
    }

    .md-m-t-md {
        margin-top: 1rem
    }

    .md-m-t-lg {
        margin-top: 1.2rem
    }

    .md-m-t-xl {
        margin-top: 1.4rem
    }

    .md-m-t-xxl {
        margin-top: 2rem
    }

    .md-m-r-0 {
        margin-right: 0
    }

    .md-m-r-xs {
        margin-right: .6rem
    }

    .md-m-r-sm {
        margin-right: .8rem
    }

    .md-m-r-md {
        margin-right: 1rem
    }

    .md-m-r-lg {
        margin-right: 1.2rem
    }

    .md-m-r-xl {
        margin-right: 1.4rem
    }

    .md-m-r-xxl {
        margin-right: 2rem
    }

    .md-m-b-0 {
        margin-bottom: 0
    }

    .md-m-b-xs {
        margin-bottom: .6rem
    }

    .md-m-b-sm {
        margin-bottom: .8rem
    }

    .md-m-b-md {
        margin-bottom: 1rem
    }

    .md-m-b-lg {
        margin-bottom: 1.2rem
    }

    .md-m-b-xl {
        margin-bottom: 1.4rem
    }

    .md-m-b-xxl {
        margin-bottom: 2rem
    }

    .md-m-l-0 {
        margin-left: 0
    }

    .md-m-l-xs {
        margin-left: .6rem
    }

    .md-m-l-sm {
        margin-left: .8rem
    }

    .md-m-l-md {
        margin-left: 1rem
    }

    .md-m-l-lg {
        margin-left: 1.2rem
    }

    .md-m-l-xl {
        margin-left: 1.4rem
    }

    .md-m-l-xxl {
        margin-left: 2rem
    }
}

.p-0 {
    padding: 0 !important
}

.p-xs {
    padding: .6rem
}

.p-sm {
    padding: .8rem
}

.p-md {
    padding: 1rem
}

.p-lg {
    padding: 1.2rem
}

.p-xl {
    padding: 1.4rem
}

.p-xxl {
    padding: 2rem
}

.p-xxxl {
    padding: 3rem
}

.p-t-0 {
    padding-top: 0
}

.p-t-xs {
    padding-top: .6rem
}

.p-t-sm {
    padding-top: .8rem
}

.p-t-md {
    padding-top: 1rem
}

.p-t-lg {
    padding-top: 1.2rem
}

.p-t-xl {
    padding-top: 1.4rem
}

.p-t-xxl {
    padding-top: 2rem
}

.p-t-xxxl {
    padding-top: 3rem
}

.p-r-0 {
    padding-right: 0
}

.p-r-xs {
    padding-right: .6rem
}

.p-r-sm {
    padding-right: .8rem
}

.p-r-md {
    padding-right: 1rem
}

.p-r-lg {
    padding-right: 1.2rem
}

.p-r-xl {
    padding-right: 1.4rem
}

.p-r-xxl {
    padding-right: 2rem
}

.p-r-xxxl {
    padding-right: 3rem
}

.p-b-0 {
    padding-bottom: 0
}

.p-b-xs {
    padding-bottom: .6rem
}

.p-b-sm {
    padding-bottom: .8rem
}

.p-b-md {
    padding-bottom: 1rem
}

.p-b-lg {
    padding-bottom: 1.2rem
}

.p-b-xl {
    padding-bottom: 1.4rem
}

.p-b-xxl {
    padding-bottom: 2rem
}

.p-b-xxxl {
    padding-bottom: 3rem
}

.p-l-0 {
    padding-left: 0
}

.p-l-xs {
    padding-left: .6rem
}

.p-l-sm {
    padding-left: .8rem
}

.p-l-md {
    padding-left: 1rem
}

.p-l-lg {
    padding-left: 1.2rem
}

.p-l-xl {
    padding-left: 1.4rem
}
.p-l-xxl {
    padding-left: 2rem
}

.p-l-xxxl {
    padding-left: 3rem
}

@media screen and (min-width: 768px) {
    .sm-p-0 {
        padding: 0 !important
    }

    .sm-p-sm {
        padding: .8rem
    }

    .sm-p-md {
        padding: 1rem
    }

    .sm-p-lg {
        padding: 1.2rem
    }

    .sm-p-xl {
        padding: 1.4rem
    }

    .sm-p-xxl {
        padding: 2rem
    }

    .sm-p-xxxl {
        padding: 3rem
    }

    .sm-p-t-0 {
        padding-top: 0
    }

    .sm-p-t-sm {
        padding-top: .8rem
    }

    .sm-p-t-md {
        padding-top: 1rem
    }

    .sm-p-t-lg {
        padding-top: 1.2rem
    }

    .sm-p-t-xl {
        padding-top: 1.4rem
    }

    .sm-p-t-xxl {
        padding-top: 2rem
    }

    .sm-p-t-xxxl {
        padding-top: 3rem
    }

    .sm-p-r-0 {
        padding-right: 0
    }

    .sm-p-r-sm {
        padding-right: .8rem
    }

    .sm-p-r-md {
        padding-right: 1rem
    }

    .sm-p-r-lg {
        padding-right: 1.2rem
    }

    .sm-p-r-xl {
        padding-right: 1.4rem
    }

    .sm-p-r-xxl {
        padding-right: 2rem
    }

    .sm-p-r-xxxl {
        padding-right: 3rem
    }

    .sm-p-b-0 {
        padding-bottom: 0
    }

    .sm-p-b-sm {
        padding-bottom: .8rem
    }

    .sm-p-b-md {
        padding-bottom: 1rem
    }

    .sm-p-b-lg {
        padding-bottom: 1.2rem
    }

    .sm-p-b-xl {
        padding-bottom: 1.4rem
    }

    .sm-p-b-xxl {
        padding-bottom: 2rem
    }

    .sm-p-b-xxxl {
        padding-bottom: 3rem
    }

    .sm-p-l-0 {
        padding-left: 0
    }

    .sm-p-l-sm {
        padding-left: .8rem
    }

    .sm-p-l-md {
        padding-left: 1rem
    }

    .sm-p-l-lg {
        padding-left: 1.2rem
    }

    .sm-p-l-xl {
        padding-left: 1.4rem
    }

    .sm-p-l-xxl {
        padding-left: 2rem
    }

    .sm-p-l-xxxl {
        padding-left: 3rem
    }
}

.w-auto {
    width: auto
}

.w-full {
    width: 100%
}

.w-25 {
    width: 25%
}

.w-33 {
    width: calc(100% / 3)
}

.w-50 {
    width: 50%
}

.w-66 {
    width: calc((100% / 3) * 2)
}

.w-75 {
    width: 75%
}

@media screen and (min-width: 768px) {
    .sm-w-auto {
        width: auto
    }

    .sm-w-full {
        width: 100%
    }

    .sm-w-25 {
        width: 25%
    }

    .sm-w-33 {
        width: calc(100% / 3)
    }

    .sm-w-50 {
        width: 50%
    }

    .sm-w-66 {
        width: calc((100% / 3) * 2)
    }

    .sm-w-75 {
        width: 75%
    }
}

.h-a {
    height: auto
}

.h-auto {
    height: auto
}

.h-full {
    height: 100%
}

.cur-p{
    cursor: pointer;
}