.evaluation {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.evaluation .score {
    background-color: black;
    padding: 0 .3rem;
    font-weight: bold;
    height: 1.3rem;
    font-size: .9rem;
}

.evaluation .depth {
    font-size: .6rem;
    padding: .3rem .3rem;
    min-width: 3.8rem;
}

.pv-holder {
    color: #d6d6d6;
    font-size: .8rem;
    padding-top: .4rem;
    margin-left: .4rem;
}

.pv-holder__move {
    padding-right: .3rem;
    display: inline-block;
}

.fen-info {
    text-align: center;
    font-size: .8rem;
}