.history {
    font-size: .8rem;
    color: white;
    background-color: #4b4b4b;
}

.history .move_num {
    font-size: .7rem;
    color: #cecece;
}

.history .move {
    padding: .1rem .6rem .1rem 0;
    display: inline-block;
}

.history .subline .move{
    font-size: .7rem;
    color: rgba(170, 165, 170, 0.99);
}

.history .subline{
    padding-left: 1rem;
}

.history .move__active {
    color: red;
}

.history__title {
    background-color: #181818;
    color: white;
    padding: .6rem;
}

.history__slider {
    /*overflow-y: scroll;*/
    /*height: 40px;*/
    padding: 0 15px;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;

}

.history__slider__holder {

}