.history {
    font-size: .8rem;
    color: white;
    background-color: #4b4b4b;
}

.history .move_num {
    font-size: .7rem;
    color: #cecece;
}

.history .move {
    padding: .1rem .3rem .1rem 0;
    display: inline-block;
}

.history .l-1{
    font-size: .7rem;
    color: rgba(170, 165, 170, 0.99);
}

.history .l-2{
    font-size: .6rem;
    color: rgba(170, 165, 170, 0.99);
}

.history__subline {
    padding-left: 1rem;
    display: block;
}

.history__subline .move{
    font-size: .7rem;
    color: rgba(170, 165, 170, 0.99);
}



.history .move__active {
    color: red;
}

.history__title {
    color: white;
    padding: .6rem;
}

.history__slider {
    padding: 0 .8rem;
}

.history__slider__holder {

}