.page-sign-in{
    text-align: center;
    background-color: #e8f3ec;
    display: flex;
    flex-direction: column;

}

.sing-in-with-google{
    width: 200px;
    display: inline-block;
    margin-top: 3rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.sing-in-with-google--image{
    width: 100%;
}