.promotion__dialog {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    text-align: center;

}

.promotion__pieces {
    display: inline-block;
    margin-top: 5rem;
    background-color: white;
    border: 1px solid #706037;
}

.promotion__href piece {
    position: initial;
    width: 3rem;
    height: 3rem;
    display: block;
}

.promotion__href {
    display: block;
    float: left;
    width: 3rem;
    height: 3rem;

}

